<div class="page-content">
  <h2>
    <span class="pull-right">
      {{ turn.player.score }}
    </span>
    {{ turn.player.name }}
  </h2>

  <div class="message-container"><div class="message" [ngClass]="{'out':!message.in}">
    {{ message.str }}
  </div></div>

  <div *ngFor="let die of dice" class="die-tray" (click)="hold(die)" [ngClass]="{'hold':die.held, 'in':phase !== 'start'}">
    <app-die [dieValue]="die.value" [dieSize]="60"></app-die>
  </div>

  <p class="small text-muted">this turn: {{ turn.score }}</p>

</div>
<div class="page-buttons">
  <div class="btn-group btn-group-lg btn-group-justified">
    <a class="btn btn-success" (click)="roll()">
      <i class="fa fa-repeat"></i> Roll
    </a>
    <a class="btn btn-danger" (click)="pass()">
      <i class="fa fa-arrow-circle-o-right"></i> Pass
    </a>
  </div>
</div>
