<div class="page-content">
  <h2>
    <span class="pull-right">
      {{ player.score }}
    </span>
    {{ player.name }}
  </h2>

  <div *ngFor="let die of dice" class="die-tray">
    <app-die [dieValue]="die.value" [hidden]="die.value < 1" [dieSize]="50"></app-die>
  </div>
</div>
<div class="page-buttons">
  <div class="btn-group btn-group-lg btn-group-justified">
    <a class="btn btn-success" (click)="roll()">
      <i class="fa fa-repeat"></i> Roll
    </a>
    <a class="btn btn-danger" (click)="pass()">
      <i class="fa fa-arrow-circle-o-right"></i> Pass
    </a>
  </div>
</div>
